<!DOCTYPE html>
<html lang="en">
<head>
    <!-- latest jquery compatible with IE<9 and i18next... -->
    <script type="text/javascript" src="/static/admin/js/jquery-1.11.1.min.js" ></script>
    <script type="text/javascript" src="/static/admin/js/i18next-1.11.1.min.js" ></script>
    <script type="text/javascript" src="/static/admin/js/main.js" ></script>

    <title>{% block title %}Varkula{% endblock %}</title>

</head>
<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>