{% extends "base.html" %}

{% block content %}
    <ul>
        <li>{{ object.name }}</li>
        <li>{{ object.value_propositions }}</li>
        <li>{{ object.customer_segments }}</li>
        <li>{{ object.partners }}</li>
        <li>{{ object.relationships }}</li>
        <li>{{ object.channels }}</li>
        <li>{{ object.activities }}</li>
        <li>{{ object.resources }}</li>
        <li>{{ object.revenue }}</li>
        <li>{{ object.cost }}</li>
        <li>{{ object.originalauthor }}</li>
        <li>{{ object.relatedcompany }}</li>
    </ul>
{% endblock %}