{% extends "base.html" %}

{% block header %}
  <title>{{ object.company }}</title>
  <link href="/static/admin/css/canvas_detail-desireco.css" rel="stylesheet">
  <link href="/static/admin/css/custom.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Headland+One' rel='stylesheet' type='text/css'>
  <script src="/static/admin/js/canvas_detail-desireco.js"></script>
{% endblock %}

{% block content %}
  <h3>{{ object.company }} made by {{ object.originalauthor }}</h3>
      <table id="bizcanvas" cellspacing="0" border="1">
        <!-- Upper part -->
        <tbody>
          <tr>
            <td colspan="2" rowspan="2">
              <a href="/canvas/{{ canvas.id }}/partners">Key Partners</a>
              <div class="acefield">{{ object.partners | safe }}</div>
            </td>
            <td colspan="2">
              <a href="/canvas/{{ canvas.id }}/activities">Key Activities</a>
              <div class="acefield">{{ object.activities | safe }}</div>
            </td>
            <td colspan="2" rowspan="2">
              <a href="/canvas/{{ canvas.id }}/value_propositions">Value Proposition</a>
              <div class="acefield">{{ object.value_propositions | safe }}</div>
            </td>
            <td colspan="2">
              <a href="/canvas/{{ canvas.id }}/relationships">Customer Relationship</a>
              <div class="acefield">{{ object.relationships | safe }}</div>
            </td>
            <td colspan="2" rowspan="2">
              <a href="/canvas/{{ canvas.id }}/customer_segments">Customer Segments</a>
              <div class="acefield">{{ object.customer_segments | safe }}</div>
            </td>
          </tr>
          <!-- Lower part -->
          <tr>
            <td colspan="2">
              <a href="/canvas/{{ canvas.id }}/resources">Key Resources</a>
              <div class="acefield">{{ object.resources | safe }}</div>
            </td>
            <td colspan="2">
              <a href="/canvas/{{ canvas.id }}/channels">Key Channels</a>
              <div class="acefield">{{ object.channels | safe }}</div>
            </td>
          </tr>
          <tr>
            <td colspan="5">
              <a href="/canvas/{{ canvas.id }}/cost">Cost Structure</a>
              <div class="acefield">{{ object.cost | safe }}</div>
            </td>
            <td colspan="5">
              <a href="/canvas/{{ canvas.id }}/cost">Revenue Streams</a>
              <div class="acefield">{{ object.revenue | safe }}</div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="col-md-12" style="margin-top:10px;">
        <div class="row">
          <div class="col-md-6 text-left">
            <a href="/company/{{ canvas.id }}" class="btn btn-primary">More info</a>
          </div>
          <div class="col-md-6 text-right">
            <div class="col-md-12">
              <!-- <a class="btn btn-primary">Edit canvas</a> -->
            </div>
          </div>
        </div>
      </div>
{% endblock %}