{% extends "base.html" %}

{% block header %}
    <title>{{ obj.company }}</title>
{% endblock %}

{% block content %}
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12" style="margin-top:10px;">
            <ul class="media-list">
              <li class="media">
                <a class="pull-left" href="/canvas/{{ obj.id }}/logo">
                    <img class="media-object" src="{{ obj.logo.url }}">
                </a>
                <!-- might remove hegith and width -->
                <div class="media-body">
                  <h3 class="media-heading">{{ obj.company }}</h3>
                  <!-- start of voting buttons
                  <button type="button" id="testBtn" class="btn btn-success glyphicon glyphicon-thumbs-up" data-loading-text="ajax-call-to-increase-vote">{{ obj.upvotes }}</button>
                  <button type="button" id="testBtnDown" class="btn btn-success glyphicon glyphicon-thumbs-down" data-loading-text="ajax-call-to-decrease-vote">{{ obj.downvotes }}</button>
                   end of voting buttons -->
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <!-- starts block content -->
        <a href="/canvas/{{ obj.id }}/description"><h4>Description</h4></a>
        <div class="acefield">{{ obj.description | safe }}</div>
        <a href="/canvas/{{ obj.id }}/products"><h4>Products</h4></a>
        <div class="acefield">{{ obj.products | safe }}</div>
        <a href="/canvas/{{ obj.id }}/links"><h4>Links</h4></a>
        <div class="acefield">{{ obj.links | safe }}</div>
      <!-- stops block content -->
    </div>
    <div id="footer-container">
      <hr>
      <footer>
        <p>© EPU 2016</p>
      </footer>
    </div>
{% endblock %}

