<!DOCTYPE html>
<html lang="en">
<head>
    {% load static from staticfiles %}
    <!-- latest jquery compatible with IE<9 and i18next
    <script type="text/javascript" src="/static/js/jquery-1.11.1.min.js" />
    <script type="text/javascript" src="/static/js/i18next-1.11.1.min.js" />
    <script type="text/javascript" src="/static/js/main.js" />
-->
    <title>{% block title %}Varkula{% endblock %}</title>

</head>
<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>