/* for app/canvas_list.html */
form table tr th { text-align: left; }

/* for app/canvas_detail.html */
#bizcanvas {
  table-layout: fixed;
  word-wrap: break-word;
}
/* the above prevents horizontal scrolling */
#bizcanvas td {
  height: 100px;
}
/* the above prevents vertical scrolling at empty canvas */
